@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .expand-button {
        text-align: center;
        display: block;
        --fa-primary-color: rgb(104, 104, 104);
        --fa-secondary-color: #ebebeb;
        --fa-secondary-opacity: 0.9;
        --fa-primary-opacity: 1;
    }
}

.active-card {
    transform: scale(1.015);
    transition: all ease-in-out 175ms;
    background-color: #e9eef1;
    border-color: rgba(26, 107, 154, 0.89);
    box-shadow: 0 0.45rem 1.25rem #939ba199;
}